* {
    text-align: center;
}

.container {
    width: 80vh;
    height: 80vh;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 2px;
}

.grid-row {
    display: flex;
    flex: 1;
}

.grid-cell {
    background-color: white;
    margin: 1px;
    flex: 1;
}

#message {
    color: brown;
    white-space: pre;
}