* {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button,
p {
    margin: 4px;
}

.sketch-pad {
    width: 80vh;
    height: 80vh;
    border-style: solid;
    border-color: antiquewhite;
    border-width: 4px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: auto;
}


.grid-row {
    display: flex;
    flex: 1;
}

.grid-cell {
    margin: 0.5px;
    flex: 1;
}

p {
    white-space: pre;
    font-size: 12px;
}

.pens {
    width: 40vw;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 4px;
}

.pens button {
    width: 100px;
}

button {
    background-color: antiquewhite;
    border-radius: 4px;
    font-weight: 600;
    font-size: 13px;
}